@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

.container {
    background-color: hsl(0, 0%, 100%);
    min-height: 50rem;
    max-width: 31.5rem;
    border-radius: 1.5rem;
}

img {
    display: block;
    margin: 1.5rem auto;
    max-width: 28rem;
    border-radius: 1rem;
}

h1 {
    margin: 2rem;
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    margin: 0 3.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

/* Media Queries ------------------- */

@media screen and (max-width: 320px) {

    .container {
        min-height: 46rem;
        max-width: 27.5rem;
    }
    
    img {
        margin: 1.5rem auto;
        max-width: 24rem;
    }

    p {
        margin: 0 2.5rem;
    }
    
}